
.margin{
    margin-bottom: 20px;
}

#grad {
  background-image: linear-gradient(to right, rgba(82, 77, 119, 0), rgba(38,29,116,1));
}

h1{
    text-align: center;
    color:  rgba(38,29,116,1)
}

p{
    font-family: 'Caveat', cursive;
    font-size: x-large;
}

.sections{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 25px;
    border-width: thick;
    border: 2px solid rgba(38,29,116,1);
    color:  rgba(38,29,116,1);
}

.sections2{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 25px;
    border-width: thick;
    border: 2px solid rgba(38,29,116,1);
    color: white;
    background-color: rgba(38,29,116,1);
}

.icons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
footer{
    text-align: center;
}